# the graphite server sparql endpoint (e.g. http://localhost:7200/repositories/graphite)
graphite.url=
graphite.username=
graphite.password=
graphite.cddNamespacePrefix=
graphite.cddGraphId=

slack.url=

ehcache.persistence.path=
ehcache.persistence.backupPath=
ehcache.enable.statistics=
ehcache.clinicalAttributeMetadataByStudyCache.maxBytesLocalDiskUnits=
ehcache.clinicalAttributeMetadataByStudyCache.maxBytesLocalDisk=
ehcache.clinicalAttributeMetadataOverridesByStudyCache.maxBytesLocalDiskUnits=
ehcache.clinicalAttributeMetadataOverridesByStudyCache.maxBytesLocalDisk=
