topbraid.url=
topbraid.username=
topbraid.password=

slack.url=

ehcache.persistence.path=
ehcache.enable.statistics=false
ehcache.clinicalAttributeMetadataByStudyCache.maxBytesLocalDiskUnits=
ehcache.clinicalAttributeMetadataByStudyCache.maxBytesLocalDisk=
