# ehcache unit test properties
ehcache.dev.persistence.path=
ehcache.dev.enable.statistics=false
ehcache.dev.clinicalAttributeMetadataByStudyCache.maxBytesLocalDisk=
ehcache.dev.clinicalAttributeMetadataByStudyCache.maxBytesLocalDiskUnits=
ehcache.dev.clinicalAttributeMetadataOverridesByStudyCache.maxBytesLocalDisk=
ehcache.dev.clinicalAttributeMetadataOverridesByStudyCache.maxBytesLocalDiskUnits=
